.slider {
  margin-top: -20px; }
  .slider .dsktp-slide {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden; }
    .slider .dsktp-slide img {
      width: 100%;
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
