.blogposts {
	list-style:none;
	li {
	background: $divbg;
	margin:20px 0;
	padding:20px 0 40px 0;
		.date {
			color:$main;
			font-style: italic;
		}
		.image {
			position:relative;
			width:100%;
			height:300px;
			margin:20px auto;
			border-top:5px solid $main;
			overflow: hidden;
			img {
				width:100%;
			    position: absolute;
			    margin: auto;
			    top: 0;
			    left: 0;
			    right: 0;
			    bottom: 0;
			}
		}
		p {
			text-align: left;
			padding:20px;
		}
	}
}

.blogpost {
	background: $divbg;
	margin:20px 0;
	padding:20px 0 40px 0;
	.date {
		color:$main;
		font-style: italic;
	}
	.image {
		position:relative;
		width:100%;
		height:300px;
		margin:20px auto;
		border-top:5px solid $main;
		overflow: hidden;
		img {
			width:100%;
		    position: absolute;
		    margin: auto;
		    top: 0;
		    left: 0;
		    right: 0;
		    bottom: 0;
		}
	}
	p {
		text-align: left;
		padding:20px;
	}
	h2.page-title {
		padding-top:20px;
	}
	ul {
    	list-style-position: inside;
	}
}

.previous, .next {
	width:200px;
	margin:20px 20px 0 20px;
	a {
		color:$light;
	}
}