.concept {
	padding:5%;
	background: #e7e1d7;
	overflow:auto;
	margin:40px 0;
	.text {
		width:100%;
		text-align: left;
		line-height:24px;
		h3 {
			font-size:1.8em;
			margin:10px 0 20px 0;
		}
		p {
			margin-bottom:10px;
		}
		@include breakpoint(tablet-ls){
			width:60%;
			padding:20px;
		}
	}
	.image {
		width:100%;
		text-align: center;
		overflow: hidden;
		background:url(images/background_blue.jpg) repeat;
		@include breakpoint(tablet-ls){
			width:30%;
			padding:20px;
		}
		img {
			width:100%;
		}
	}
	@include breakpoint(tablet-ls){
		padding:0;
		&:nth-of-type(odd){
			.image {
				float:left;
			}
			.text {
				float:right;
			}
		}
		&:nth-of-type(even){
			.image {
				float:right;
			}
			.text {
				float:left;
			}
		}
	}
}
