.woocommerce-breadcrumb {
	display:none;
}
.availability {
	background:url(images/background_blue.jpg) repeat;
	padding:40px 0 !important;
	.full-width {
		width:100%;
	}
	.one-half {
		width:40%;
		float:left;
		margin:0 5%;
	}
	.one-half:first-of-type{
		text-align: right;
	}
	.one-half:last-of-type{
		text-align: left;
	}
	label {
		color:#f5efde;
	}
	input[type="text"] {
		border:0;
		outline:0;
		padding:10px;
		margin:0 20px 20px 20px;
		background:url(images/calendar.png) right 12px center no-repeat, #f5efde;
   		@include border-radius(5px);
	}
}
.reservation-item {
	width:29.33%;
	margin:20px 2% 20px 2%;
	float:left;
	.image {
		float:left;
		width:100%;
		min-height:224px;
		margin-bottom:10px;
		img {
			width: 100%;
		}
	}
	h3 {
		font-size:1.6em;
	}
}
.overlay {
	@include opacity(30);	
}
.checkout-button, .wc-bookings-booking-form-button, .wc-forward, #place_order {
	background:#749fae !important;
	color:#fff !important;
}
.woocommerce-billing-fields, .woocommerce-shipping-fields, .wc-bookings-booking-form {
	input[type="text"], input[type="email"], textarea {
		webkit-appearance: none;
		width:60%;
		padding:10px;
		background:$divbg;
		border:1px solid $dark;
		font-weight:bold;
		color:$dark;
		font-size:1.1em;
	}
	input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
		outline:0;
		border:1px solid $main;
	}
	input[type="submit"]{
		font-size:1em;
	}
	::-webkit-input-placeholder {
	   color: #a39887;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: #a39887;  
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: #a39887;  
	}

	:-ms-input-placeholder {  
	   color: #a39887;  
	}
}
ul.order_details {
	width:100%;
	margin:40px 0 !important;
	li {
		width:20.66%;
	}
}
.woocommerce {
	h2, h3 {
		padding:40px 0 20px 0;
	}
	h2 + h3 {
		padding:0;
		font-size:1.5em;
	}
}
div[itemprop="description"] {
	margin:40px 0;
}