/*
 Theme Name:   De Pleisterplek 
 Theme URI:    http://example.com/twenty-fourteen-child/
 Description:  Jan van Ghent Child Theme
 Author:       Jens Scheerlinck en Frederik Vandenberge
 Author URI:   http://jesc.be
 Template:     rr_ms
 Version:      1.0.0
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  pleisterplek
*/


/* -------------------------------------------------------------- */

.introduction {
	background: url(images/block_deco_bg_dp.png) bottom center no-repeat !important;
}
.table-border {
	border:1px solid #000;
}
.table-border td {
	border:1px solid #000;
	padding:5px;
}
.entry-summary {
	width:100% !important;
}
.wc-bookings-booking-form-button{
	position: relative !important;
	left:50% !important;
	margin-left:-50px !important;
}
.addon-alert {
	display: none !important;
}
input.addon {
	text-align: center !important;
}