.clearfix {
    zoom:1;
    &:before, &:after {
        content: "";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}

.reset-list{
    list-style: none;
    margin: 0;
    padding: 0;
}

img.no-resp{
    width: auto;
    max-width: auto;
    height: auto;
}

.txt-cntr{
    text-align: center;
}

.btn{
    color: $light;
    position: relative;
    top: 10px;
    display: inline;
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: auto;
    margin: 0 auto;
    padding: 10px;
}

.btn-filled, input[type="submit"]{
    @extend .btn;
    background: $dark;
    border:0;
    cursor:pointer;
    top:0;
    font-size:100%;
    @include border-radius();
}