/*
Theme Name: My-Theme
*/

/* ========================= INIT ========================= */

@import "reset",
		"variables",
		"mixins",
		"extends",
		"columns",

		"ui/header",
		"ui/footer",
		"ui/home",
		"ui/concept",
		"ui/blog",
		"ui/slider",
		"ui/product"
		;


/* ========================= GRID ========================= */

.wrap{
	@extend .clearfix;
	margin: 0 auto;
	height: 100%;
	min-height: 100%;
	padding: 0 20px;

	@include breakpoint(mobile-ls){
		width: 90%;
		padding: 0;
	}

	@include breakpoint(tablet){
		width: 728px;
	}

	@include breakpoint(tablet-ls){
		width: 960px;
	}

	@include breakpoint(desktop){
		width: 1100px;
	}

	@include breakpoint(desktop-wide){
	}

	img {
		width:auto;
	}
	.wpcf7{
		input[type="text"], input[type="email"], textarea {
			webkit-appearance: none;
			width:60%;
			padding:10px;
			background:$divbg;
			border:1px solid $dark;
			font-weight:bold;
			color:$dark;
			font-size:1.1em;
		}
		input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
			outline:0;
			border:1px solid $main;
		}
		input[type="submit"]{
			font-size:1em;
		}
	}
}

.row-full{
	@extend .clearfix;
	padding: 0 40px;
}

.row{
	@extend .wrap;
}

.row-padding{
	padding: $space 0;
}

.one-fourth{
	width: 100%;

	@include breakpoint(tablet){
		width: 22%;
		margin-right: 4%;
		float: left;
	}

	&:last-of-type{
		margin-right: 0;
	}
}


/* ========================= TYPOGRAPHY ========================= */

html, body{
	font-size: 100%;
	line-height: 100%;
}

body{
	font-family: "Bitter", serif;
	font-size: 1em;
	line-height: 1.2em;
}

a{
	color: $dark;
	text-decoration: none;
	@include transition(all, 0.2s, ease-in-out);

	&:hover{
		text-decoration: underline;
	}
}

strong{
	font-weight: 800;
}

h1, h2, h3, h4, h5, h6{
	font-family: "Satisfy", serif;
	//font-weight: 800;
	margin-bottom: 10px;
	color: $dark;
}

h1{
	font-size: 2.6em;
	line-height: 1.4em;
}

h2{
	font-size: 2.4em;
	line-height: 1.2em;
}

h3{
	font-size: 2.2em;
	line-height: 1.2em;
}

h4{
	font-size: 1em;
	line-height: 1em;
}

h5{
	font-size: 1em;
	line-height: 1em;
}

h6{
	font-size: 1em;
	line-height: 1em;
}

p{
	margin-bottom: 15px;

	&:last-of-type{
		margin-bottom: 0;
	}
}

/* ========================= GLOBAL ========================= */

html, body{
	height: 100%;
	min-height: 100%;
}

body{
	background: url(images/background.jpg);
	color: #64605a;
	font-size: 0.8em;

	@include breakpoint(tablet){
		font-size: 0.9em;
	}

	@include breakpoint(desktop){
		font-size: 1em;
	}
}

a{
	@include transition(all, 0.2s, ease-in-out);
}

img{
	width: 100%;
	max-width: 100%;
	height: auto;
	display: block;
}

.page-header{
	margin-top: -10px;
}

.gallery-item {
	position:relative;
	margin: 0 !important;
	img {
		width:100%;
		border:0 !important;
	}
}
.main-gallery-overlay{
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	background: url(images/gallery_hover.png) center center no-repeat;
}
.related, .posted_in, .wc_bookings_field_start_date legend, .return-to-shop, .addon-wrap-178-wellness-de-waterlelies, .addon-wrap-182-wellness-de-waterlelies, .addon-wrap-219-wellness-de-waterlelies, .addon-wrap-220-wellness-de-waterlelies, .addon-wrap-221-wellness-de-waterlelies, .addon-wrap-495-wellness-de-waterlelies, .addon-wrap-496-wellness-de-waterlelies, .addon-wrap-497-wellness-de-waterlelies, .addon-wrap-498-wellness-de-waterlelies, .addon-wrap-499-wellness-de-waterlelies {
	display:none;
}
