/*
 Theme Name:   De Waterlelies
 Theme URI:    http://example.com/twenty-fourteen-child/
 Description:  Jan van Ghent Child Theme
 Author:       Jens Scheerlinck en Frederik Vandenberge
 Author URI:   http://jesc.be
 Template:     rr_ms
 Version:      1.0.0
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  waterlelies
*/


/* -------------------------------------------------------------- */

.map {
  background:url(images/background_red.jpg);
}
.newsletter-optin {
  background:url(images/background_red.jpg);  
}
.introduction {
	background: url(images/block_deco_bg_dw.png) bottom center no-repeat !important;
}