/*
 Theme Name:   Jan van Ghent
 Theme URI:    http://example.com/twenty-fourteen-child/
 Description:  RedRock Jan van Ghent Theme
 Author:       Jens Scheerlinck
 Author URI:   http://example.com
 Template:     rr_ms
 Version:      1.0.0
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twenty-fourteen-child
*/

/* ========================= INIT ========================= */

@import "reset",
		"variables",
		"mixins",
		"extends",
		"columns",

		"ui/header",
		"ui/footer",
		"ui/home",
		"ui/concept"
		;


/* ========================= GRID ========================= */

.wrap{
	@extend .clearfix;
	margin: 0 auto;
	height: 100%;
	min-height: 100%;
	padding: 0 20px;

	@include breakpoint(mobile-ls){
		width: 90%;
		padding: 0;
	}

	@include breakpoint(tablet){
		width: 728px;
	}

	@include breakpoint(tablet-ls){
		width: 960px;
	}

	@include breakpoint(desktop){
		width: 1100px;
	}

	@include breakpoint(desktop-wide){
	}
}

.row-full{
	@extend .clearfix;
	padding: 0 40px;
}

.row{
	@extend .wrap;
}

.row-padding{
	padding: $space 0;
}

.one-fourth{
	width: 100%;

	@include breakpoint(tablet){
		width: 22%;
		margin-right: 4%;
		float: left;
	}

	&:last-of-type{
		margin-right: 0;
	}
}


/* ========================= TYPOGRAPHY ========================= */

html, body{
	font-size: 100%;
	line-height: 100%;
}

body{
	font-family: "Bitter", serif;
	font-size: 1em;
	line-height: 1.2em;
}

a{
	color: $dark;
	text-decoration: none;
	@include transition(all, 0.2s, ease-in-out);

	&:hover{
		text-decoration: underline;
	}
}

strong{
	font-weight: 800;
}

h1, h2, h3, h4, h5, h6{
	font-family: "Satisfy", serif;
	//font-weight: 800;
	margin-bottom: 10px;
	color: $dark;
}

h1{
	font-size: 2.6em;
	line-height: 1.4em;
}

h2{
	font-size: 2.4em;
	line-height: 1.2em;
}

h3{
	font-size: 2.2em;
	line-height: 1.2em;
}

h4{
	font-size: 1em;
	line-height: 1em;
}

h5{
	font-size: 1em;
	line-height: 1em;
}

h6{
	font-size: 1em;
	line-height: 1em;
}

p{
	margin-bottom: 15px;

	&:last-of-type{
		margin-bottom: 0;
	}
}

/* ========================= GLOBAL ========================= */

html, body{
	height: 100%;
	min-height: 100%;
}

body{
	background: url(images/background.jpg);
	color: #64605a;
	font-size: 0.8em;

	@include breakpoint(tablet){
		font-size: 0.9em;
	}

	@include breakpoint(desktop){
		font-size: 1em;
	}
}

a{
	@include transition(all, 0.2s, ease-in-out);
}

img{
	width: 100%;
	max-width: 100%;
	height: auto;
	display: block;
}

.page-header{
	margin-top: -10px;
}
