.footer{
	width: 100%;
	padding: 20px 0;
	background: url(images/footer-bg.jpg) bottom repeat-x, $dark;
	color: $light;
	font-size: 0.8em;
	text-align: center;

	@include breakpoint(tablet){
		text-align: left;
	}

	a {
		color:#fff;
	}

	.left{
		margin-bottom: 20px;

		@include breakpoint(tablet){
			width: 38%;
			float: left;
			margin-bottom: 0;
		}
	}

	.right{

		@include breakpoint(tablet){
			width: 58%;
			float: right;
			text-align: right;
		}
	}
}
.footer-bis {
	width:100%;
	padding:10px 0;
	img {
		width:auto;
		margin: 0 auto;
	}
}