.header{

	.ms-nav{
		text-align: center;
		padding: 30px 0 20px;

		ul{
			@extend .clearfix;
			@extend .reset-list;

			li{
				display: block;
				vertical-align: middle;
				margin: 10px 0;

				@include breakpoint(mobile-ls){
					display: inline-block;
					width: 32%;
				}

				@include breakpoint(tablet){
					width: 25%;
				}

				@include breakpoint(tablet-ls){
					width: 250px;
				}

				a{
					@include opacity(50);
					
					img{
						width: 40%;
						margin: 0 auto;

						@include breakpoint(mobile-ls){
							width: 60%;
						}
					}

					&:hover{
						@include opacity(99);
					}
				}
			}

			li.active{
				padding: 0;

				a{
					@include opacity(99);

					img{
						width: 60%;

						@include breakpoint(mobile-ls){
							width: 80%;
						}
					}
				}
			}
		}
	}
		
	.site-nav{
		position: relative;
		z-index: 99;
		width: 100%;
		height: 57px;
		background: url(images/sitenav_bg2.png) top left repeat-x;
		text-align: center;
		font-size: 0.9em;

		.nav-dsktp{
			display: none;
			@include breakpoint(tablet){
				display: block;
			}

			ul{
				@extend .reset-list;
				text-align: center;

				li{
					display: inline-block;
					margin: 0 25px;

					a{
						display: block;
						padding: 19px 0;
						text-transform: uppercase;
						color: $dark;
						@include opacity(70);
						@include transition(all, 0.2s, ease-in-out);

						&:hover{
							@include opacity(99);
						}
					}
				}

				li.current-menu-item,
				li.current_page_item{

					a{
						@include opacity(99);
					}
				}
			}
		}

		.nav-mbl{
			padding: 19px 0;
			@include breakpoint(tablet){
				display: none;
			}

			&:hover{ cursor: pointer; }

			.mbl-site-nav{

				ul{
					list-style: none;
					margin: 0;
					padding: 10px 0 20px 0; 
					background: #e4dfd5;
					border-bottom: 1px solid $dark;
					border-bottom: 1px solid rgba(0, 0, 0, 0.2);

					li{
						padding: 5px 0;

						a{
							color: $dark;
							@include opacity(80);

							&:hover{
								@include opacity(99);
							}
						}
					}
				}
			}
		}
	}
}