.slider{
	margin-top: -20px;

	.mbl-slide{
		
		@include breakpoint(mobile-ls){
			display: none;
		}
	}

	.dsktp-slide{
		display: none;
		@include breakpoint(mobile-ls){
			display: block;
		}
	}
}

.introduction{
	background: url(images/block_deco_bg.png) bottom center no-repeat;

	.wrap{
		margin: 0 auto;
		padding-bottom: 30px;

		@include breakpoint(tablet){
			width: 60%;
		}
	}
}

.assets{

	.asset{
		margin-bottom: $space;

		&:last-of-type{
			margin-bottom: 0;
		}

		.thumb{
			width: 70%;
			margin: 0 auto;

			@include breakpoint(mobile-ls){
				width: 40%;
			}

			@include breakpoint(tablet){
				width: 80%;
			}

			@include breakpoint(tablet-ls){
				width: 60%;
			}
			
			img{
				border: 4px solid $dark;
				@include border-radius( 50%, 50%, 50%, 50%);
			}
		}

		.content{
			padding: 20px 0;

			p.main{
				margin-bottom: 20px;
			}
		}
	}
}

.map{
	background: url(images/background_blue.jpg);
	border-top: 3px solid $main;

	h2, h3, h4, h5{
		color: $light;
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	}

	img{
		width: auto;
		max-width: none;
		height: auto;
		display: auto;
	}

	#map-canvas{
		border: 3px solid $dark;
		height: 450px;
		width: 100%;
	}
}

.contact-bar{
	background: url(images/background_blue.jpg);
	color: $light;
	padding: 0 0 $space;

	h2, h3, h4, h5{
		color: $light;
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	}

	.one-fourth{
		padding-bottom: 20px;

		a{
			color: $light;

			&:hover{
				text-decoration: underline;
			}
		}
	}

	.soc-med{
		img{
			width: 70%;
			margin: 0 auto;
			@include opacity(70);
			@include transition( all, 0.4s, ease-in-out);

			&:hover{
				@include opacity(99);
			}
		}
	}
}

.newsletter-optin{
	background: url(images/background_blue.jpg);
	color: $light;
	border-top: 1px solid rgba(0, 0, 0, 0.2);

	h2, h3, h4, h5{
		color: $light;
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	}

	.wrap{
		margin: 0 auto;
		@include breakpoint(tablet){
			width: 70%;
		}
	}

	form{
		padding: $space/2 0 0;
		text-align: center;

		input{
			float:left;
			text-align: center;
			padding: 15px;
			margin: 0 auto 10px auto;
			display: inline-block;
			width: 80%;
			background: none;
			border: 0;
			background: $main;
			background: rgba(0, 0, 0, 0.1);
			@include border-radius(20px, 20px, 20px, 20px);
			@include box-shadow(2px, 2px, 5px, rgba(0, 0, 0, 0.1), true);
			border: 1px solid $main;
			border: 1px solid rgba(0, 0, 0, 0.2);
			color: $light;
			font-size:1.2em;
		}

		input.submit{
			float:left;
			margin-left:20px;
			padding:20px;
			font-weight: 700;
			text-transform: uppercase;
			width: auto;
			background: $light;
			border: 0;
			@include box-shadow(0, 0, 0, 0);
			border: 0;
			color: $dark;
			font-size:0.8em;
		}
	}
}