/*
Theme Name: My-Theme
*/
/* ========================= INIT ========================= */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* GLOBAL */
/* JVG */
/* LAYOUT */
.clearfix, .header .ms-nav ul, .wrap, .row, .row-full {
  zoom: 1; }
  .clearfix:before, .header .ms-nav ul:before, .wrap:before, .row:before, .row-full:before, .clearfix:after, .header .ms-nav ul:after, .wrap:after, .row:after, .row-full:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden; }
  .clearfix:after, .header .ms-nav ul:after, .wrap:after, .row:after, .row-full:after {
    clear: both; }

.reset-list, .header .ms-nav ul, .header .site-nav .nav-dsktp ul {
  list-style: none;
  margin: 0;
  padding: 0; }

img.no-resp {
  width: auto;
  max-width: auto;
  height: auto; }

.txt-cntr {
  text-align: center; }

.btn, .btn-filled, input[type="submit"] {
  color: #f5efde;
  position: relative;
  top: 10px;
  display: inline;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: auto;
  margin: 0 auto;
  padding: 10px; }

.btn-filled, input[type="submit"] {
  background: #33291c;
  border: 0;
  cursor: pointer;
  top: 0;
  font-size: 100%;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-radius: 5px 5px 5px 5px; }

/* ------- Fluid Columns ------- */
@media (min-width: 768px) {
  .one_half {
    width: 48%; } }

@media (min-width: 768px) {
  .one_third {
    width: 30.66%; } }

@media (min-width: 768px) {
  .two_third {
    width: 65.33%; } }

@media (min-width: 768px) {
  .one_fourth {
    width: 22%; } }

@media (min-width: 768px) {
  .three_fourth {
    width: 74%; } }

@media (min-width: 768px) {
  .one_fifth {
    width: 16.8%; } }

@media (min-width: 768px) {
  .two_fifth {
    width: 37.6%; } }

@media (min-width: 768px) {
  .three_fifth {
    width: 58.4%; } }

@media (min-width: 768px) {
  .four_fifth {
    width: 67.2%; } }

@media (min-width: 768px) {
  .one_sixth {
    width: 13.33%; } }

@media (min-width: 768px) {
  .five_sixth {
    width: 82.67%; } }

.one_half,
.one_third,
.two_third,
.three_fourth,
.one_fourth,
.one_fifth,
.two_fifth,
.three_fifth,
.four_fifth,
.one_sixth,
.five_sixth {
  position: relative;
  margin-right: 4%;
  float: left; }

.last {
  margin-right: 0 !important;
  clear: right; }

.clearboth {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  width: 100%; }

#checkout {
  position: absolute;
  left: 100%;
  top: -3px;
  margin-left: -200px; }

#languages {
  position: absolute;
  left: 200px;
  top: -3px; }

.header .ms-nav {
  text-align: center;
  padding: 30px 0 20px; }
  .header .ms-nav ul li {
    display: block;
    vertical-align: middle;
    margin: 10px 60px; }
    @media (min-width: 480px) {
      .header .ms-nav ul li {
        display: inline-block;
        width: 32%; } }
    @media (min-width: 768px) {
      .header .ms-nav ul li {
        width: 20%;
        margin: 10px 30px; } }
    @media (min-width: 1024px) {
      .header .ms-nav ul li {
        width: 18%;
        margin: 10px 60px; } }
    @media (min-width: 1280px) {
      .header .ms-nav ul li {
        width: 250px; } }
    .header .ms-nav ul li a {
      opacity: .50;
      filter: alpha(opacity=50);
      -ms-filter: "alpha(opacity=$value)";
      -khtml-opacity: .50;
      -moz-opacity: .50; }
      .header .ms-nav ul li a img {
        width: 40%;
        margin: 0 auto; }
        @media (min-width: 480px) {
          .header .ms-nav ul li a img {
            width: 80%; } }
      .header .ms-nav ul li a:hover {
        opacity: .99;
        filter: alpha(opacity=99);
        -ms-filter: "alpha(opacity=$value)";
        -khtml-opacity: .99;
        -moz-opacity: .99; }
  .header .ms-nav ul li.active {
    padding: 0; }
    .header .ms-nav ul li.active a {
      opacity: .99;
      filter: alpha(opacity=99);
      -ms-filter: "alpha(opacity=$value)";
      -khtml-opacity: .99;
      -moz-opacity: .99; }
      .header .ms-nav ul li.active a img {
        width: 60%; }
        @media (min-width: 480px) {
          .header .ms-nav ul li.active a img {
            width: 100%; } }
.header .site-nav {
  position: relative;
  z-index: 99;
  width: 100%;
  height: 57px;
  background: url(images/sitenav_bg2.png) top left repeat-x;
  text-align: center;
  font-size: 0.9em; }
  .header .site-nav .nav-dsktp {
    display: none; }
    @media (min-width: 768px) {
      .header .site-nav .nav-dsktp {
        display: block; } }
    .header .site-nav .nav-dsktp ul {
      text-align: center; }
      .header .site-nav .nav-dsktp ul li {
        display: inline-block;
        margin: 0 25px; }
        .header .site-nav .nav-dsktp ul li a {
          display: block;
          padding: 19px 0;
          text-transform: uppercase;
          color: #33291c;
          opacity: .70;
          filter: alpha(opacity=70);
          -ms-filter: "alpha(opacity=$value)";
          -khtml-opacity: .70;
          -moz-opacity: .70;
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -ms-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out; }
          .header .site-nav .nav-dsktp ul li a:hover {
            opacity: .99;
            filter: alpha(opacity=99);
            -ms-filter: "alpha(opacity=$value)";
            -khtml-opacity: .99;
            -moz-opacity: .99; }
      .header .site-nav .nav-dsktp ul li.current-menu-item a,
      .header .site-nav .nav-dsktp ul li.current_page_item a {
        opacity: .99;
        filter: alpha(opacity=99);
        -ms-filter: "alpha(opacity=$value)";
        -khtml-opacity: .99;
        -moz-opacity: .99; }
  .header .site-nav .nav-mbl {
    padding: 19px 0; }
    @media (min-width: 768px) {
      .header .site-nav .nav-mbl {
        display: none; } }
    .header .site-nav .nav-mbl:hover {
      cursor: pointer; }
    .header .site-nav .nav-mbl .mbl-site-nav ul {
      list-style: none;
      margin: 0;
      padding: 10px 0 20px 0;
      background: #e4dfd5;
      border-bottom: 1px solid #33291c;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
      .header .site-nav .nav-mbl .mbl-site-nav ul li {
        padding: 5px 0; }
        .header .site-nav .nav-mbl .mbl-site-nav ul li a {
          color: #33291c;
          opacity: .80;
          filter: alpha(opacity=80);
          -ms-filter: "alpha(opacity=$value)";
          -khtml-opacity: .80;
          -moz-opacity: .80; }
          .header .site-nav .nav-mbl .mbl-site-nav ul li a:hover {
            opacity: .99;
            filter: alpha(opacity=99);
            -ms-filter: "alpha(opacity=$value)";
            -khtml-opacity: .99;
            -moz-opacity: .99; }

.mc4wp-alert {
  display: inline-block; }

.footer {
  width: 100%;
  padding: 20px 0;
  background: url(images/footer-bg.jpg) bottom repeat-x, #33291c;
  color: #f5efde;
  font-size: 0.8em;
  text-align: center; }
  @media (min-width: 768px) {
    .footer {
      text-align: left; } }
  .footer a {
    color: #fff; }
  .footer .left {
    margin-bottom: 20px; }
    @media (min-width: 768px) {
      .footer .left {
        width: 38%;
        float: left;
        margin-bottom: 0; } }
  @media (min-width: 768px) {
    .footer .right {
      width: 58%;
      float: right;
      text-align: right; } }

.footer-bis {
  width: 100%;
  padding: 10px 0; }
  .footer-bis img {
    width: auto;
    margin: 0 auto; }

.slider {
  margin-top: -20px; }
  @media (min-width: 480px) {
    .slider .mbl-slide {
      display: none; } }
  .slider .dsktp-slide {
    display: none; }
    @media (min-width: 480px) {
      .slider .dsktp-slide {
        display: block; } }

.introduction {
  background: url(images/block_deco_bg.png) bottom center no-repeat; }
  .introduction .wrap, .introduction .row {
    margin: 0 auto;
    padding-bottom: 30px; }
    @media (min-width: 768px) {
      .introduction .wrap, .introduction .row {
        width: 60%; } }
  .introduction p {
    line-height: 30px; }

.assets h1 {
  margin: 40px 0 0 0; }
.assets .asset {
  margin-bottom: 70px; }
  .assets .asset:last-of-type {
    margin-bottom: 0; }
  .assets .asset .thumb {
    width: 158px;
    margin: 0 auto;
    			/*
    			@include breakpoint(mobile-ls){
    				width: 40%;
    			}
    
    			@include breakpoint(tablet){
    				width: 80%;
    			}
    
    			@include breakpoint(tablet-ls){
    				width: 60%;
    			}
    			*/ }
    .assets .asset .thumb img {
      border: 4px solid #33291c;
      -moz-border-radius: 50% 50% 50% 50%;
      -webkit-border-top-left-radius: 50%;
      -webkit-border-top-right-radius: 50%;
      -webkit-border-bottom-right-radius: 50%;
      -webkit-border-bottom-left-radius: 50%;
      border-radius: 50% 50% 50% 50%; }
  .assets .asset .content {
    padding: 20px 0; }
    .assets .asset .content p.main {
      margin-bottom: 20px; }

.map {
  background: url(images/background_blue.jpg);
  border-top: 3px solid #749fae; }
  .map h2, .map h3, .map h4, .map h5 {
    color: #f5efde;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); }
  .map img {
    width: auto;
    max-width: none;
    height: auto;
    display: auto; }
  .map #map-canvas {
    border: 3px solid #33291c;
    height: 450px;
    width: 100%; }

.contact-bar {
  background: url(images/background_blue.jpg);
  color: #f5efde;
  padding: 0 0 70px; }
  .contact-bar h2, .contact-bar h3, .contact-bar h4, .contact-bar h5 {
    color: #f5efde;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); }
  .contact-bar .one-third {
    width: 100%;
    padding-bottom: 20px; }
    .contact-bar .one-third a {
      color: #f5efde; }
      .contact-bar .one-third a:hover {
        text-decoration: underline; }
    @media (min-width: 768px) {
      .contact-bar .one-third {
        width: 33.33% !important;
        float: left; } }
  .contact-bar .soc-med img {
    width: 40%;
    margin: 0 auto;
    opacity: .70;
    filter: alpha(opacity=70);
    -ms-filter: "alpha(opacity=$value)";
    -khtml-opacity: .70;
    -moz-opacity: .70;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
    .contact-bar .soc-med img:hover {
      opacity: .99;
      filter: alpha(opacity=99);
      -ms-filter: "alpha(opacity=$value)";
      -khtml-opacity: .99;
      -moz-opacity: .99; }
  .contact-bar .soc-med img:first-of-type {
    margin-bottom: 20px; }

.newsletter-optin {
  background: url(images/background_blue.jpg);
  color: #f5efde;
  border-top: 1px solid rgba(0, 0, 0, 0.2); }
  .newsletter-optin h2, .newsletter-optin h3, .newsletter-optin h4, .newsletter-optin h5 {
    color: #f5efde;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); }
  .newsletter-optin .wrap, .newsletter-optin .row {
    margin: 0 auto; }
    @media (min-width: 768px) {
      .newsletter-optin .wrap, .newsletter-optin .row {
        width: 70%; } }
  .newsletter-optin form {
    padding: 35px 0 0;
    text-align: center; }
    .newsletter-optin form input {
      width: 100%;
      padding: 15px 0;
      text-align: center;
      margin: 0 auto 10px auto;
      display: inline-block;
      background: none;
      border: 0;
      background: #749fae;
      background: rgba(0, 0, 0, 0.1);
      -moz-border-radius: 20px 20px 20px 20px;
      -webkit-border-top-left-radius: 20px;
      -webkit-border-top-right-radius: 20px;
      -webkit-border-bottom-right-radius: 20px;
      -webkit-border-bottom-left-radius: 20px;
      border-radius: 20px 20px 20px 20px;
      -webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
      box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
      border: 1px solid #749fae;
      border: 1px solid rgba(0, 0, 0, 0.2);
      color: #f5efde;
      font-size: 1.2em; }
      @media (min-width: 1280px) {
        .newsletter-optin form input {
          float: left;
          width: 80%; } }
    .newsletter-optin form input[type="submit"] {
      padding: 20px;
      font-weight: 700;
      text-transform: uppercase;
      width: 100px;
      margin: 0 auto;
      background: #f5efde;
      border: 0;
      -webkit-box-shadow: 0 0 0 0;
      -moz-box-shadow: 0 0 0 0;
      box-shadow: 0 0 0 0;
      border: 0;
      color: #33291c;
      font-size: 0.8em; }
      @media (min-width: 1280px) {
        .newsletter-optin form input[type="submit"] {
          float: right;
          width: auto;
          margin: 0 0 0 20px; } }

.concept {
  padding: 5%;
  background: #e7e1d7;
  overflow: auto;
  margin: 40px 0; }
  .concept .text {
    width: 100%;
    text-align: left;
    line-height: 24px; }
    .concept .text h3 {
      font-size: 1.8em;
      margin: 10px 0 20px 0; }
    .concept .text p {
      margin-bottom: 10px; }
    @media (min-width: 1024px) {
      .concept .text {
        width: 60%;
        padding: 20px; } }
  .concept .image {
    width: 100%;
    text-align: center;
    overflow: hidden;
    background: url(images/background_blue.jpg) repeat; }
    @media (min-width: 1024px) {
      .concept .image {
        width: 30%;
        padding: 20px; } }
    .concept .image img {
      width: 100%; }
  @media (min-width: 1024px) {
    .concept {
      padding: 0; }
      .concept:nth-of-type(odd) .image {
        float: left; }
      .concept:nth-of-type(odd) .text {
        float: right; }
      .concept:nth-of-type(even) .image {
        float: right; }
      .concept:nth-of-type(even) .text {
        float: left; } }

.blogposts {
  list-style: none; }
  .blogposts li {
    background: #e7e1d7;
    margin: 20px 0;
    padding: 20px 0 40px 0; }
    .blogposts li .date {
      color: #749fae;
      font-style: italic; }
    .blogposts li .image {
      position: relative;
      width: 100%;
      height: 300px;
      margin: 20px auto;
      border-top: 5px solid #749fae;
      overflow: hidden; }
      .blogposts li .image img {
        width: 100%;
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
    .blogposts li p {
      text-align: left;
      padding: 20px; }

.blogpost {
  background: #e7e1d7;
  margin: 20px 0;
  padding: 20px 0 40px 0; }
  .blogpost .date {
    color: #749fae;
    font-style: italic; }
  .blogpost .image {
    position: relative;
    width: 100%;
    height: 300px;
    margin: 20px auto;
    border-top: 5px solid #749fae;
    overflow: hidden; }
    .blogpost .image img {
      width: 100%;
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
  .blogpost p {
    text-align: left;
    padding: 20px; }
  .blogpost h2.page-title {
    padding-top: 20px; }
  .blogpost ul {
    list-style-position: inside; }

.previous, .next {
  width: 200px;
  margin: 20px 20px 0 20px; }
  .previous a, .next a {
    color: #f5efde; }

.slider {
  margin-top: -20px; }
  .slider .dsktp-slide {
    position: relative;
    width: 100%;
    max-height: 600px;
    overflow: hidden; }
    .slider .dsktp-slide img {
      margin: 0 auto; }

.woocommerce-breadcrumb {
  display: none; }

.availability {
  background: url(images/background_blue.jpg) repeat;
  padding: 40px 0 !important; }
  .availability .full-width {
    width: 100%; }
  .availability .one-half {
    width: 40%;
    float: left;
    margin: 0 5%; }
  .availability .one-half:first-of-type {
    text-align: right; }
  .availability .one-half:last-of-type {
    text-align: left; }
  .availability label {
    color: #f5efde; }
  .availability input[type="text"] {
    border: 0;
    outline: 0;
    padding: 10px;
    margin: 0 20px 20px 20px;
    background: url(images/calendar.png) right 12px center no-repeat, #f5efde;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-radius: 5px 5px 5px 5px; }

.reservation-item {
  width: 29.33%;
  margin: 20px 2% 20px 2%;
  float: left; }
  .reservation-item .image {
    float: left;
    width: 100%;
    min-height: 224px;
    margin-bottom: 10px; }
    .reservation-item .image img {
      width: 100%; }
  .reservation-item h3 {
    font-size: 1.6em; }

.overlay {
  opacity: .30;
  filter: alpha(opacity=30);
  -ms-filter: "alpha(opacity=$value)";
  -khtml-opacity: .30;
  -moz-opacity: .30; }

.checkout-button, .wc-bookings-booking-form-button, .wc-forward, #place_order {
  background: #749fae !important;
  color: #fff !important; }

.woocommerce-billing-fields input[type="text"], .woocommerce-billing-fields input[type="email"], .woocommerce-billing-fields textarea, .woocommerce-shipping-fields input[type="text"], .woocommerce-shipping-fields input[type="email"], .woocommerce-shipping-fields textarea, .wc-bookings-booking-form input[type="text"], .wc-bookings-booking-form input[type="email"], .wc-bookings-booking-form textarea {
  webkit-appearance: none;
  width: 60%;
  padding: 10px;
  background: #e7e1d7;
  border: 1px solid #33291c;
  font-weight: bold;
  color: #33291c;
  font-size: 1.1em; }
.woocommerce-billing-fields input[type="text"]:focus, .woocommerce-billing-fields input[type="email"]:focus, .woocommerce-billing-fields textarea:focus, .woocommerce-shipping-fields input[type="text"]:focus, .woocommerce-shipping-fields input[type="email"]:focus, .woocommerce-shipping-fields textarea:focus, .wc-bookings-booking-form input[type="text"]:focus, .wc-bookings-booking-form input[type="email"]:focus, .wc-bookings-booking-form textarea:focus {
  outline: 0;
  border: 1px solid #749fae; }
.woocommerce-billing-fields input[type="submit"], .woocommerce-shipping-fields input[type="submit"], .wc-bookings-booking-form input[type="submit"] {
  font-size: 1em; }
.woocommerce-billing-fields ::-webkit-input-placeholder, .woocommerce-shipping-fields ::-webkit-input-placeholder, .wc-bookings-booking-form ::-webkit-input-placeholder {
  color: #a39887; }
.woocommerce-billing-fields :-moz-placeholder, .woocommerce-shipping-fields :-moz-placeholder, .wc-bookings-booking-form :-moz-placeholder {
  /* Firefox 18- */
  color: #a39887; }
.woocommerce-billing-fields ::-moz-placeholder, .woocommerce-shipping-fields ::-moz-placeholder, .wc-bookings-booking-form ::-moz-placeholder {
  /* Firefox 19+ */
  color: #a39887; }
.woocommerce-billing-fields :-ms-input-placeholder, .woocommerce-shipping-fields :-ms-input-placeholder, .wc-bookings-booking-form :-ms-input-placeholder {
  color: #a39887; }

ul.order_details {
  width: 100%;
  margin: 40px 0 !important; }
  ul.order_details li {
    width: 20.66%; }

.woocommerce h2, .woocommerce h3 {
  padding: 40px 0 20px 0; }
.woocommerce h2 + h3 {
  padding: 0;
  font-size: 1.5em; }

div[itemprop="description"] {
  margin: 40px 0; }

/* ========================= GRID ========================= */
.wrap, .row {
  margin: 0 auto;
  height: 100%;
  min-height: 100%;
  padding: 0 20px; }
  @media (min-width: 480px) {
    .wrap, .row {
      width: 90%;
      padding: 0; } }
  @media (min-width: 768px) {
    .wrap, .row {
      width: 728px; } }
  @media (min-width: 1024px) {
    .wrap, .row {
      width: 960px; } }
  @media (min-width: 1280px) {
    .wrap, .row {
      width: 1100px; } }
  .wrap img, .row img {
    width: auto; }
  .wrap .wpcf7 input[type="text"], .row .wpcf7 input[type="text"], .wrap .wpcf7 input[type="email"], .row .wpcf7 input[type="email"], .wrap .wpcf7 textarea, .row .wpcf7 textarea {
    webkit-appearance: none;
    width: 60%;
    padding: 10px;
    background: #e7e1d7;
    border: 1px solid #33291c;
    font-weight: bold;
    color: #33291c;
    font-size: 1.1em; }
  .wrap .wpcf7 input[type="text"]:focus, .row .wpcf7 input[type="text"]:focus, .wrap .wpcf7 input[type="email"]:focus, .row .wpcf7 input[type="email"]:focus, .wrap .wpcf7 textarea:focus, .row .wpcf7 textarea:focus {
    outline: 0;
    border: 1px solid #749fae; }
  .wrap .wpcf7 input[type="submit"], .row .wpcf7 input[type="submit"] {
    font-size: 1em; }

.row-full {
  padding: 0 40px; }

.row-padding {
  padding: 70px 0; }

.one-fourth {
  width: 100%; }
  @media (min-width: 768px) {
    .one-fourth {
      width: 22%;
      margin-right: 4%;
      float: left; } }
  .one-fourth:last-of-type {
    margin-right: 0; }

/* ========================= TYPOGRAPHY ========================= */
html, body {
  font-size: 100%;
  line-height: 100%; }

body {
  font-family: "Bitter", serif;
  font-size: 1em;
  line-height: 1.2em; }

a {
  color: #33291c;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  a:hover {
    text-decoration: underline; }

strong {
  font-weight: 800; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Satisfy", serif;
  margin-bottom: 10px;
  color: #33291c; }

h1 {
  font-size: 2.6em;
  line-height: 1.4em; }

h2 {
  font-size: 2.4em;
  line-height: 1.2em; }

h3 {
  font-size: 2.2em;
  line-height: 1.2em; }

h4 {
  font-size: 1em;
  line-height: 1em; }

h5 {
  font-size: 1em;
  line-height: 1em; }

h6 {
  font-size: 1em;
  line-height: 1em; }

p {
  margin-bottom: 15px; }
  p:last-of-type {
    margin-bottom: 0; }

/* ========================= GLOBAL ========================= */
html, body {
  height: 100%;
  min-height: 100%; }

body {
  background: url(images/background.jpg);
  color: #64605a;
  font-size: 0.8em; }
  @media (min-width: 768px) {
    body {
      font-size: 0.9em; } }
  @media (min-width: 1280px) {
    body {
      font-size: 1em; } }

a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block; }

.page-header {
  margin-top: -10px; }

.gallery-item {
  position: relative;
  margin: 0 !important; }
  .gallery-item img {
    width: 100%;
    border: 0 !important; }

.main-gallery-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: url(images/gallery_hover.png) center center no-repeat; }

.related, .posted_in, .wc_bookings_field_start_date legend, .return-to-shop, .addon-wrap-178-wellness-de-waterlelies, .addon-wrap-182-wellness-de-waterlelies, .addon-wrap-219-wellness-de-waterlelies, .addon-wrap-220-wellness-de-waterlelies, .addon-wrap-221-wellness-de-waterlelies, .addon-wrap-495-wellness-de-waterlelies, .addon-wrap-496-wellness-de-waterlelies, .addon-wrap-497-wellness-de-waterlelies, .addon-wrap-498-wellness-de-waterlelies, .addon-wrap-499-wellness-de-waterlelies {
  display: none; }
